/* CSS styles for the dashboard page */
.sensor-cards {
  display: flex; /* Make the sensor cards container a flexbox */
  flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
  justify-content: space-between; /* Distribute cards evenly with spacing */
  margin-top: 50px; /* Add some margin from the top */
  width: 100%; /* Set container width to 100% for full-width layout */
  margin: 2%;
  padding-bottom: 100px;
}

.sensor-card {
  /* Set aspect ratio to ensure equal width and height */
  aspect-ratio: 1; /* Width and height will be the same */
  /* Adjust card size based on your preferences */
  width: 210px; /* Example width, adjust as needed */
  margin-bottom: 50px;
  border: 1px solid #ddd; /* Optional border for cards */
}

.analysis-button {
  background-color: green;
  text-align: center;
  color: white;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 40px;
}

  